<ion-header class="ion-border">
  <ion-toolbar>
      <ion-back-button color="dark" slot="start" defaultHref="detail"> </ion-back-button>
      <ion-title>Inscription</ion-title>
  </ion-toolbar>
  
</ion-header>
<ion-content class="bg-color ion-padding">
 
      <ion-card-header>
         <!-- <ion-card-title>
              Inscription
          </ion-card-title>
          <ion-card-subtitle>
              créer votre compte
          </ion-card-subtitle> !-->
      </ion-card-header>
      
          <form class="form" #form="ngForm" (ngSubmit)="registre(form)">
            <ion-item>
              <ion-input name="nom" type="text"  ngModel placeholder="Nom" required="nom">
              </ion-input>
            </ion-item>
          <ion-item>
            <ion-input name="prenom" type="text"  ngModel placeholder="Prénom" required="prénom">
            </ion-input>
          </ion-item>
            <ion-item>
              <ion-input name="age" type="text"  ngModel placeholder="Age" required="Age">
              </ion-input>
            </ion-item>
          <ion-item>
              <ion-input name="numphone" #numphone="ngModel" pattern="[5-9][0-9]{7}" type="number" ngModel placeholder=" 90 90 88 88" required>
              </ion-input>
          </ion-item>
          <div   style="font-size: 10px;margin-top: 10px; color: rgb(247, 12, 12);" [hidden]="numphone.valid || numphone.pristine" class="alert alert-danger">
            Respecter le Format svp : exemple 78345060
          </div>
          <ion-item>
            <ion-input name="adresse" type="text"  ngModel placeholder="Adresse" required="Adresse">
            </ion-input>
          </ion-item>
           
            <!-- les cases à crocher -->
             &nbsp;&nbsp;<ion-label>Genre</ion-label>
            <br>
            <ion-item>
            <div class="input-group">
              <label class="radio-inline">
                <input type="radio" name="genre" value="Homme" checked  ngModel/>&nbsp; Homme  
              </label>
              &nbsp; &nbsp;
              <label class="radio-inline">
                <input type="radio" name="genre" value="Femme" ngModel />&nbsp;Femme
              </label>
            </div>
          </ion-item>
            <br>
          
        
          
            <!-- les cases à crocher -->
            &nbsp;&nbsp;<ion-label>Statut matrimoniale</ion-label>
            <br>
            <ion-item>
            <div class="input-group">
              <label class="radio-inline" >
                <input type="radio" name="matrimoliale" value="Marie" ngModel checked /> &nbsp; Marié 
              </label>
              &nbsp; &nbsp;
              <label class="radio-inline">
                <input type="radio" name="matrimoliale" value="Celibataire" ngModel /> &nbsp;Célibataire
              </label>
            </div>
          </ion-item>
      <ion-item>
        <ion-input name="profession" type="text"  ngModel placeholder="Profession" required="Profession">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="email" type="email" #email="ngModel"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" ngModel placeholder="Email" required>
        </ion-input>
      </ion-item>
      <div   style="font-size: 10px;margin-top: 10px; color: rgb(247, 12, 12); text-align: center;" [hidden]="email.valid || email.pristine" class="alert alert-danger">
        caractères suivis d'un signe @, suivis d'autres caractères, puis d'un "."
      </div>
          <ion-item>
            <ion-input name="login" type="text"  ngModel placeholder="Non d'utilisateur" required="Nom d'utilisateur">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="motpass" type="password"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" #motpass="ngModel" ngModel placeholder="Mot de passe" required="password">
            </ion-input>
          </ion-item>
          <div   style="font-size: 10px;margin-top: 10px; color: rgb(247, 12, 12); text-align: center;" [hidden]="motpass.valid || motpass.pristine" class="alert alert-danger">
            le Mot de passe doit contenir au moins 8 caractères composés d'au moins un chiffre et d'une lettre majuscule et minuscule</div>
          <ion-item>
          <ion-input name="photo" type="file" (change)="lire($event)"  ngModel required="Pièce d'identité">
          </ion-input>
        </ion-item>
          <br>
          <ion-button  expand="block" type="submit"  shape="round">S'inscire</ion-button> 
          </form> 
</ion-content>
          
  

 