
        <!-- Sidebar -->
        <ul class="navbar-nav sidemenu sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="main">
                <div class="sidebar-brand-icon rotate-n-15">
                    <img class="imglogo" src="assets\img\so_bara3xggg.png" alt="...">
                </div>
                <div class="sidebar-brand-text mx-3">GESTION BARAKELAW</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="main">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <span>Accueil</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                    <span>Administrateur</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Administrateur:</h6>
                        <a class="collapse-item" href="addAdmin">Liste</a>
                        <!-- <a class="collapse-item" href="registre">Ajouter</a>      -->
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                    <span>Personnel</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                         <h6 class="collapse-header">Personnel:</h6>
                        <a class="collapse-item" href="personnel">Liste</a>
                    </div>
                </div>
            </li>
            <!-- menu categorie -->
            
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCategorie"
                    aria-expanded="true" aria-controls="collapseCategorie">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                    <span>Categorie</span>
                </a>
                <div id="collapseCategorie" class="collapse" aria-labelledby="headingCategorie"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                         <h6 class="collapse-header">Categorie:</h6>
                        <a class="collapse-item" href="categorie">Liste</a>
                    </div>
                </div>
            </li>
           <!-- fin nemu categori -->

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Demande
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-bell fa-3x" aria-hidden="true"></i>
                    <span>Demande</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Demande:</h6>
                        <a class="collapse-item" href="presence">Liste</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="">
                    <i class="fas fa-shopping-basket" aria-hidden="true"> </i>
                    <span>Corbeille</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                 <a class="nav-link" href="login">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                <!-- <i class= "fa fa-sign-out" aria-hidden="true"> </i> -->
                    <span>Déconnexion</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            <!-- Sidebar Message -->
            <div class="sidebar-card d-none d-lg-flex">
                <img class="sidebar-card-illustration mb-2" src="assets\img\so_bara3xggg.png" alt="...">
                <p class="text-center mb-2 text-black-50"><strong>Personnel de Service</strong> Contactez nous sur Facebok!</p>
                <a class="btn btn-dark btn-sm" href="#">Plus Info!</a>
            </div>

        </ul>
        <app-navbar></app-navbar>
        