<ion-header>
  <ion-toolbar>
    <ion-title>Liste de nos Personnels</ion-title>
    <!-- <ion-back-button slot="start" defaultHref="accueil"> </ion-back-button> -->
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-searchbar showcancelbutton="" (ionInput)="filterList($event)"></ion-searchbar> -->
   <!-- le bouton d'en bas avec deux menus -->
<ion-fab  horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button color="primary">
    <ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start">
    <ion-fab-button color="dark" (click)="deconnexion()">
      <ion-icon color="light" name="log-out-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="dark" href="accueil">
      <ion-icon color="light" name="home-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
  <!-- Liste -->
<ion-list>
  <!-- Sliding item with text options on both sides -->
  <ion-item-sliding *ngFor="let l of listData">
    <a [routerLink]="['/user-info', l.id]" style="text-decoration: none">
      <ion-item>
        <label for="">
          <h4>{{l.nom}} {{l.prenom}}</h4>
        <h6>{{l.genre}}</h6>
        </label>
      </ion-item>
    </a>
    
    <ion-item-options side="end">
      <ion-item-option color="primary" [routerLink]="['/user-info', l.id]">
        <ion-icon name="alert-circle"></ion-icon>
      </ion-item-option>
      <ion-item-option color="success" (click)="DeletePerson(l)">
        <ion-icon name="backspace"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
</ion-content>