ion-toolbar{
    --background: #68B5E8;
}
// ion-content{
//     --background: linear-gradient(#FFF, #a2a3d4);
// }
.contenair img{
    width: 180%;
   
}


ion-grid{
    background-color: #fbfcff;
    width: 98%;
    display: block;
    border: 1px #a8c0e4 ;
    border-radius: 10%;
}
ion-col p{
    color: rgb(14, 13, 13);
}
.taille-image{
    //display: block;
    margin-left: auto;
    margin-right: auto;
    height: 120px;
    width: 130px;
}
ion-item{
    --background:none;
}
p{
 margin-left: auto;
 margin-right: auto;
}