ion-menu ion-content {
    * {
        font-family: lato;
    }
    letter-spacing: 0.5px;
    --background: #0792EC;
    .main-header {
        height: 25vh;
        width: 120%;
        background:#ffff;
        box-shadow: 0 1px 10px var(--ion-color-light);
        border-radius: 0 0 50% 50%;
        margin-left: -4.5vh;
        div {
            transform: translateY(3vh);
            ion-avatar {
                width: 15vh;
                height: 15vh;
                background:#ffff;
                margin-bottom: 5px;
               // border: 7px solid var(--ion-color-primary);
            }
            ion-label {
                font-weight: bold;
                font-size: 1.2rem;
                p {
                    margin-top: 3px;
                    ion-text {
                        font-size: 0.7rem;
                    }
                }
            }
        }
    }
    .menu-items {
        padding-left: 20px;
        ion-item.selected {
            --background: #0792EC;
            border-left: 5px solid var(--ion-color-primary);
            ion-label {
                color: #0792EC;
                font-weight: bold;
            }
        }
        ion-item.selected ion-icon {
            color: var(--ion-color-primary);
        }
    }
}

ion-menu ion-footer {
    ion-toolbar {
        border-radius: 10px 10px 0 0;
    }
}
.list-menu{
    margin-top: 40px;
}