ion-img {
    border-radius: 20px !important;
    overflow: hidden;
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;

  }
  ion-card{
        height: 150px; 
        width: 150px; 
		background-color: blue;
		border: 5px solid rgba(0, 0, 0, 1);
		border-radius: 50%; 
        margin-left: auto;
        margin-right: auto;
  }
  ion-button{
      margin-left: 10%;
      margin-right: auto;
  }
 