.bg_img{
    height:400px;
    margin-top: 35px;
     //background-image:url(../../assets\img\so_bara3x_blanc.png);
     
}
.bg-nav-bar{
    background: linear-gradient(#0792EC, #1a9df5);
}
.headertest{
    margin-top: 120px;
    
}