ion-content{
    --ion-background-color:#ffffff!important;
}
ion-card{
    border-radius: 25px;
    height: 90%;
    margin-top: auto;
    margin-bottom: auto;
}
.form-text{
    margin-top: 50%;
}

.login-btn{
    --ion-color-primary:#215AB7;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    width: 80%;

}
.text-tag{
    margin-top: 40px;
    text-align: center;
    .span{
        text-align: center;
        font-size:13px;
        font-weight:normal;
        color:#525ceb;
    }
    p{
        text-align: center;
        font-size:13px;
        font-weight:normal;
        color:#080808; 
        
    }
    a:hover {
        background-color: rgb(0, 26, 255);
      }

}
.text-lab{
    font-size: 16px ;
     color: black;
}
input{
     width: 80%; 
     border-radius: 50px; 
     color: black; 
     font-size: 20px;
     margin-left: auto;
     margin-right: auto;
     display: block;
}
// .input-div{
//    margin-left: auto;
//    margin-right: auto;

// }