
<ion-header class="ion-border">
  <ion-toolbar>
      <ion-back-button slot="start" defaultHref="accueil"> </ion-back-button>
      <ion-title>Authentifier</ion-title>
  </ion-toolbar>
  
</ion-header>
<ion-content class="bg-color ion-padding">
  <ion-card>
  <form  #loginForm="ngForm"(ngSubmit)="onLogin(loginForm)" novalidate class="form-text"> 
      <ion-list > 
                 <div>
                                <input name="username" type="email" ngModel>   
                                </div>
                                <br><br>
                                 <div class="input-div">     
                                          <input name="password" type="password" ngModel >  
                                           </div>
                                          <div class="input-div">
                                          <ion-button type="submit" class="login-btn" expand="block"  shape="round">Se connecter</ion-button><br>  
                                             <div >      <a href="password" type="" style="color: black; ">Mot de passe oublier</a>   
                                              </div>
                                              </div>
      </ion-list>
  </form>
</ion-card>   
</ion-content>