.alertdanger{
    background-color: brown; 
    float: right; color: white; 
    width: 50px; text-align: center; 
    border-radius: 50px;
}

.alertsuccess{
    background-color: darkslategray; 
    float: right; color: white; 
    width: 50px; text-align: center; 
    border-radius: 50px;
}
ion-header {
    background-color: #0792EC;}