<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personnels</title>
</head>
<body id="page-top">
<div id="wrapper">
<app-sidebar></app-sidebar>
<!-- Begin Page Content -->
<div class="container-fluid">
    <app-navbar></app-navbar>
 <!-- Begin Page Content -->
 <div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Categorie</h1>
    <p class="mb-4">Les différentes services disponible</p>

    <!-- Content Row -->
    <div class="row">

        <div class="col-xl-8 col-lg-7">

            <!-- Area Chart -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Services</h6>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <table class="table mt-3 mb-6">
                            <thead>
                                <tr>
                                    <th scope="Col">N°</th>
                                    <th scope="Col">Libelle</th>
                                    <th scope="col">description</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                             <tbody> 
                                <tr *ngFor="let raw of categoriData | paginate: { 
                                  itemsPerPage: 2,
                                  currentPage: page,
                                  totalItems:totalLength}" >
                                    <td>{{raw.id}}</td>
                                    <td>{{raw.libelle}}</td>
                                    <td>{{raw.description}}</td>
                                    <td>
                                        <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-info">Edit</button>
                                        <button (click)="deleteCategori(raw)" class="btn btn-danger mx-3" >Delete</button>
                                    </td>
                                </tr>
                                <div>
                                  <pagination-controls class="my-pagination" (pageChange)="page = $event"></pagination-controls>
                                </div>
                            </tbody>
                            </table>
                    </div>
                    <hr>
                   
                </div>
            </div>

        </div>

        <!-- Donut Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Enrégistrement!</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4">
                        <form [formGroup]="formValue">
                            <div class="mb-3">
                              <label for="exampleInputEmail1" class="form-label">libelle</label>
                              <input type="text" formControlName="libelle" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                              <label for="exampleInputPassword1" class="form-label">Description</label>
                              <input type="text"formControlName="description" class="form-control" id="exampleInputPassword1">
                            </div>
                            <button type="submit" (click)="postCategoriDetail()" class="btn btn-primary btn-user btn-block">Ajouter</button>
                          </form>
                    </div>
                    <hr>
                    
                </div>
            </div>
        </div>
    </div>
 </div>
</div>
</div>
</body>
</html>
