



  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Enregistrement</title>
  </head>
  <body id="page-top">
    <div *ngIf="message" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Votre donnée a été enregistre avec success!</strong>
        <button (click)="removeMessage()" type="button" data-bs-dismiss="alert" aria-label="close" >X</button>
        </div>
        <!-- Page Wrapper -->
    <div id="wrapper"> 
    <app-sidebar></app-sidebar> 
    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg_img"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">REGISTRE ADMINISTRATEUR!</h1>
                            </div>
                            <form class="user" [formGroup]="addStudent" (ngSubmit)="SaveData()">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="Nom" formControlName="nom" >
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="exampleLastName"
                                            placeholder="Prénom" formControlName="prenom">
                                    </div>
                                </div>
    
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Téléphone" formControlName="numphone">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user"
                                            id="exampleRepeatPassword" placeholder="Login" formControlName="login">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Password" formControlName="motpasse">
                                    </div>
                                    <div class="col-sm-6">
                                    
                                            <select class="form-control " id="exampleRepeatPassword" formControlName="genre"> 
                                                <option value="">---sélectionnez le genre---</option>
                                                <option value="Femme">Femme</option>
                                                <option value="Homme">Homme</option>
                                            </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="email" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Email" formControlName="email">
                                    </div>
                                    <div class="col-sm-6">
                                        <select class="form-control " id="exampleRepeatPassword" formControlName="profit"> 
                                            <option value="">--sélectionnez le profile--</option>
                                            <option value="Admin">Admin</option>
                                            <option value="Super_Admin">Super-Admin</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- <a href="main"  class="btn btn-primary btn-user btn-block">
                                    Enregistre
                                </a> -->
                                <button type="submit"  class="btn btn-primary btn-user btn-block">Enregistre</button>
                               
                            </form>
                            <hr>
        
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>
  </body>
  </html>
    
    